<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Student Registration</h1>
        <form action="">
            <label 
                for="{{form.first_name.id_for_label}}"
            >
                First Name:
            </lable>
            <input 
                type = 'text' 
                name="{{form.first_name.name}}"
                required 
                id = "{{form.first_name.id_for_label}}"
                value="{{form.first_name.value | default:'value'}}"
            />
            <label 
                for="{{form.last_name.id_for_label}}"
            >
                First Name:
            </lable>
            <input 
                type = 'text' 
                name="{{form.last_name.name}}"
                required 
                id = "{{form.last_name.id_for_label}}"
                value="{{form.last_name.value | default:'value'}}"
                
            />
            <br>
            <input type="submit" value = "Submit">
        </form>
    </body>
</html>