<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1>Single Student Data </h1>
        {%if student%}
            <h1>Student List:</h1>
            <h3>{{student.name}} - {{student.email}} </h3>
        {% else %}
            <h1>No Data </h1>
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>