{% load static tailwind_tags %}
<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%block title%}{%endblock title%}</title>
        {% tailwind_css %}
        {%block corecss%} <link rel='stylesheet' href = "{%static 'core/css/style.css'%}">{%endblock corecss%}
        
    </head>
    <body>
       <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/course/learn-django">
                    Django
                </a>
            </li>
            <li>
                <a href="/course/fast_api">Python
            </li>
       </ul>
       <hr>
       <li>
            <a href = "{% url 'learn_django' %}">DJango</a>
       </li>
       {%block content%} {%endblock content%}
    </body>
</html>